@use "./index.scss" as *;

.label {
  @include alignCenter;
  gap: rem(15);
  cursor: pointer;
  width: 90%;
  height: 100%;
  padding-inline-start: rem(20);
  transition: all 0.3s ease;

  &.form_field {
    width: 1.3rem;
    height: 1.3rem;
    padding-inline: 0;
    align-self: center;

    .delete_icon {
      display: none;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  .circle {
    display: inline-flex;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 10rem;
    background: var(--clr-text-subtle);
    transition: all 0.3s ease;
    align-self: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 87%;
      height: 87%;
      top: 50%;
      left: 50%;
      background: var(--container-bg);
      border-radius: inherit;
      transform: translate(-50%, -50%);
    }
  }
  .title {
    color: var(--clr-text-main);
    user-select: none;
  }

  input[type="checkbox"]:checked {
    & + .circle {
      background: var(--gradient);

      &::after {
        content: url("../images/icon-check.svg");
        background: none;
        @include alignCenter;
        justify-content: center;
      }
    }

    ~ .title {
      color: var(--clr-text-subtle);
      text-decoration: line-through;
    }
  }

  &:hover {
    transform: scale(1.02);
    .circle {
      background: var(--gradient);
    }
  }
}
