@use "./index.scss" as *;

.todo_list {
  background: var(--container-bg);
  border-radius: 0.3rem;
  overflow: hidden;

  .todo_list__container {
    max-height: 23rem;
    overflow-y: auto;

    .list_item {
      width: 100%;
      height: 3.8rem;
      padding-inline-end: rem(20);
      @include alignCenter;
      border-bottom: rem(0.5) solid var(--clr-text-subtle);

      .delete_icon {
        font-size: rem(20);
        cursor: pointer;
        margin-left: auto;
        user-select: none;
        display: none;
        transition: all 0.3s ease;

        &:hover {
          transform: scale(1.08);
          color: var(--clr-hover);
        }
      }

      &:hover {
        .delete_icon {
          display: inline-flex;
        }
      }

      @include mobile {
        height: 3rem;
      }
    }
  }
  .list_footer {
    @include alignCenter;
    justify-content: space-between;
    height: 3.8rem;
    padding-inline: rem(20);
    @include mobile {
      height: 3rem;
    }
  }

  .count {
    font-size: 0.8rem;
  }

  .cta {
    @include alignCenter;
    gap: rem(15);
    > button {
      font-weight: 700;
    }

    @include mobile {
      display: none;
    }
  }
}

.mobile_cta {
  margin-top: rem(15);
  width: 100%;
  padding-inline: rem(20);
  height: 3rem;
  background: var(--container-bg);
  border-radius: 0.3rem;
  @include alignCenter;
  justify-content: center;
  gap: rem(15);
  display: none;
  > button {
    font-weight: 700;
  }

  @include mobile {
    display: flex;
  }
}
